
body {
    background-color: #1a1a1a !important;
}


.product-image-wrapper {
    position: relative;
    padding: 0;
    overflow: hidden;
    border-radius: 12px !important;
    background-color: #212529;
}

.detail-product-image {
  width: 100%;
  height: 50vh; 
  object-fit: contain;
  transition: transform 0.5s ease;
}

.product-image-wrapper:hover .detail-product-image {
    transform: none; 
}

@media (max-width: 768px) {
    .detail-product-image {
        height: 35vh; 
    }
}